/* My Fonts */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;300;400;500;700;900&family=Whisper&display=swap');

/* Reset Default */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* My Styles */

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/* Navbar */

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    background: transparent;
    backdrop-filter: blur(10px);
    z-index: 2;
}

.logo {
    color: #102C57;
    font-family: 'Bebas Neue', sans-serif;
    margin-left: 20px;
}

.nav-list {
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

.nav-list a {
    color: #000;
}

.nav-list a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #DAC0A3;
    margin-top: 2px;
    transition: .5s;
}

.nav-list a:hover::after {
    width: 100%;
}

/* Main page */

.main-page {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.teks {
    position: absolute;
    width:38%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: #000;
    padding: 10px;
}

.teks h1 {
    font-size: 4rem;
    font-family: 'Whisper', cursive;
    color: #102C57;
}

.photos {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 100vh;
    background: #DAC0A3;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    background-image: url(../img/bg.png);
    background-position: center;
    background-size: cover;
}

.top-right {
    width: 20%;
    height: 20%;
    position: absolute;
    right: 5%;
    top: 10%;
}

.bottom-right {
    width: 20%;
    height: 20%;
    position: absolute;
    right: 10%;
    bottom: 10%;
}

.top-left {
    width: 20%;
    height: 20%;
    position: absolute;
    left: 5%;
    top: -5%;
}

.bottom-left {
    width: 20%;
    height: 20%;
    position: absolute;
    left: 0;
    bottom: 15%;
}


/* About page */

#gallery {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-gall {
    position: absolute;
    left: 50%;
    top: 8%;
    transform: translateX(-50%);
    font-size: 4rem;
    font-family: 'Whisper', cursive;
}

.logo-gall::after {
    content: "";
    display: block;
    border-bottom: 2px solid #DAC0A3;
}

.wrapper-image {
    position: relative;
    width: 60%;
    height: 60%;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cat1 {
    position: absolute;
    top: 3%;
    left: 2%;
    width: 30%;
    height: 46.5%;
    background-image: url(../img/cat1.jpg);
    background-position: 0 -50px;
    background-size: cover;
}

.cat2 {
    position: absolute;
    bottom: 3%;
    left: 2%;
    width: 30%;
    height: 46.5%;
    background-image: url(../img/cat2.jpg);
    background-position: center;
    background-size: cover;
}

.cat3 {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 94%;
    background-image: url(../img/cat3.jpg);
    background-position: center;
    background-size: cover;
}

.cat4 {
    position: absolute;
    top: 3%;
    right: 2%;
    width: 30%;
    height: 60%;
    background-image: url(../img/cat4.jpg);
    background-position: 0 -50px;
    background-size: cover;
}

.cat5 {
    position: absolute;
    bottom: 3%;
    right: 2%;
    width: 30%;
    height: 33%;
    background-image: url(../img/cat5.jpg);
    background-position: 0 -120px;
    background-size: cover;
}

/* About Me */

#about {
    width: 100%;
    height: 80vh;
    position: relative;
}

.blocking {
    width: 100%;
    height: 100%;
    background-image: url(../img/bg-2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.aboutme {
    width: 100%;
    height: 30%;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.teks-wrapper {
    width: 40%;
    text-align: center;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.teks-wrapper h1 {
    font-size: 1.5rem;
}

.teks-wrapper p {
    font-size: .8rem;
}
/* Hobby */

#hobby {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myhobby {
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}


.nice {
    width: 32%;
    height: 85%;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}

.hobby1 {
    background-image: url(../img/ngelus\ kucing.jpg);
    background-position: center;
    background-size: cover;
}

.hobby2 {
    background-image: url(../img/nonton.jpg);
    background-position: center;
    background-size: cover;
}

.hobby3 {
    background-image: url(../img/marah-marh.jpg);
    background-position: center;
    background-size: cover;
}

.title {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 13%;
    background-color: rgba(251, 251, 251, .5);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}


/* Contact Me */

#contact {
    width: 100%;
    height: 80vh;
    position: relative;
    background: #EADBC8;
}

form {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input, textarea {
    padding: 7px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.btn {
    width: fit-content;
    padding: 5px;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #102C57;
    background: #102C57;
    color: #fff;
}


/* footer */

footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}



